@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;700;800&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --Light-red: hsl(0, 100%, 67%);
    --Orangey-yellow: hsl(39, 100%, 56%);
    --Green-teal: hsl(166, 100%, 37%);
    --Cobalt-blue: hsl(234, 85%, 45%);

    --Light-slate-blue: hsl(252, 100%, 67%);
    --Light-royal-blue: hsl(241, 81%, 54%);
    --Violet-blue: hsla(256, 72%, 46%, 1);
    --Persian-blue: hsla(241, 72%, 46%, 0);

    --White: hsl(0, 0%, 100%);
    --Pale-blue: hsl(221, 100%, 96%);
    --Light-lavender: hsl(241, 100%, 89%);
    --Dark-gray-blue: hsl(224, 30%, 27%);
}

body {
    font-family: 'Hanken Grotesk', sans-serif;
    font-size: 18px;
    display: flex;
    min-height: 100vh;
}

.container {
    flex: 1;
    text-align: center;
    font-size: inherit;
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    flex-direction: column;
    min-height: 300px;
    background-color: var(--Light-royal-blue);
    justify-content: space-around;
    align-items: center;
    color: white;
    padding-bottom: 20px;
    border-bottom-left-radius: 10%;
    border-bottom-right-radius: 10%;
}

.header h2 {
    color: var(--White);
    opacity: .7;
    font-size: .9em;
    font-size: 500;
    margin-top: 5px;
}

.header .circle {
    border-radius: 50%;
    background-image: linear-gradient(var(--Violet-blue), var(--Persian-blue));
    color: white;
    width: 120px;
    height: 120px;
    padding: 20px;
}

.header .circle div:nth-child(1) {
    font-size: 2.2em;
    font-weight: 800;
}

.header .circle div:nth-child(2) {
    font-size: .7em;
    font-weight: 800;
    opacity: .4;
}

.header .description {
    max-width: 70%;
}

.header .description h1 {
    font-size: 1.2em;
    font-weight: 700;
    margin-bottom: 10px;
}

.header .description p {
    font-size: .9em;
    font-weight: 500;
    opacity: .7;
    color: var(--Pale-blue);
    max-width: 300px;
}


.summary {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    justify-items: center;
    min-height: 400px;
    width: 85%;
    margin: auto;
    padding: 30px 0 30px 0;
}

.summary h1 {
    font-size: 1.1em;
    font-weight: 800;
    align-self: start;
    color: var(--Dark-gray-blue);
    flex-wrap: 1;
    margin-bottom: 20px;
}

.summary .measures {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-grow: 4;
    font-weight: 700;
}

.summary img {
    position: relative;
    top: 3px;
}

.summary .measures span:nth-of-type(1) {
    font-weight: 700;
    color: var(--Dark-gray-blue);
    opacity: .9;
}

.summary .measures span:nth-of-type(2) {
    font-weight: 700;
    color: black;
    opacity: .4;
}

.summary .measures > * {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    padding: 15px;
    margin-bottom: 15px;
    opacity: .9;
}

.summary .measures .reaction {
    color: var(--Light-red);
    background-color: hsl(0, 100%, 98%);
}

.summary .measures .memory {
    color: var(--Orangey-yellow);
    background-color: hsl(39, 100%, 96%);
}

.summary .measures .verbal {
    color: var(--Green-teal);
    background-color: hsl(166, 100%, 97%);
}

.summary .measures .visual {
    color: var(--Cobalt-blue);
    background-color: hsl(234, 100%, 98%);
}


.summary a {
    flex-grow: 1;
    border-radius: 30px;
    padding: 16px 0;
    margin-top: 10px;
    text-decoration: none;
    color: var(--Pale-blue);
    background-color: var(--Dark-gray-blue);
    font-weight: 800;
}

/********************************************************************/

/* and now designing the desktop view */
@media(min-width: 687px) {
    body {
        justify-content: center;
        align-items: center;
    }

    .container {
        flex-direction: row;
        max-width: 650px;
        min-height: 380px;
        border-radius: 30px;
        box-shadow: 8px 8px 20px var(--Pale-blue);
    }

    .header {
        border-radius: 30px;
        width: 50%;
        padding: 15px;
        flex: 1 0 50%;
    }

    .header h2 {
        font-size: 1.1em;
        margin-top: 0;
    }

    .header .circle {
        width: 170px;
        height: 170px;
        padding: 40px;
    }

    .header .circle div:nth-of-type(1) {
        font-size: 3em;
    }

    .header .circle div:nth-of-type(2) {
        font-size: .8em;
    }

    .header .description h1 {
        font-size: 1.5em;
    }

    .summary {
        flex: 1 0 50%;
        margin-top: 10px;
        padding: 30px;
    }

    .summary a {
        transition: background-color 0.2s;
    }
    .summary a:hover {
        background-color: var(--Light-royal-blue);
    }
}
































